<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pokemonshowdown">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PokedexActivity"
            android:label="Pokédex"
            android:parentActivityName=".activity.ContainerActivity" />
        <activity android:name=".activity.ContainerActivity" />
        <activity
            android:name=".activity.DmgCalcActivity"
            android:label="Damage Calculator"
            android:parentActivityName=".activity.ContainerActivity" />
        <activity android:name=".activity.ContainerActivity" />
        <activity
            android:name=".activity.TeamBuilderActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_team_building"
            android:parentActivityName=".activity.ContainerActivity" />
        <activity
            android:name=".activity.TeamBuildingActivity"
            android:configChanges="orientation|screenSize"
            android:label=""
            android:parentActivityName=".activity.TeamBuilderActivity" />
        <activity
            android:name=".activity.SearchableActivity"
            android:label=""
            android:parentActivityName=".activity.TeamBuildingActivity" />
        <activity
            android:name=".activity.PokemonActivity"
            android:label=""
            android:parentActivityName=".activity.TeamBuildingActivity" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label=""
            android:parentActivityName=".activity.ContainerActivity" />
    </application>

</manifest>